/*  04. banner section css here  */
.banner_area{
    @media #{$large-mobile}{
       margin-bottom: 25px;
    }
}

.banner_thumb{
    position: relative;
    overflow: hidden;
    &:hover{
        img{
           transform: scale(1.02);
        }
    }
    & a{
        @media #{$large-mobile}{
           width: 100%;
        }
        & img{
            @include transition(.3s);
            @media #{$large-mobile}{
               width: 100%;
            }
        }
    }
}


/*home two css here*/
.banner_two{
    @media #{$large-mobile}{
       margin-bottom: 30px;
    }
}


.banner_area.mb-70 {
    @media #{$large-mobile}{
       margin-bottom: 56px;
    }
}


/*home five css here*/
.sidebar_banner5{
    @media #{$large-mobile}{
       margin-top: 30px;
    }
}
.banner_fullwidth5{
    @media #{$large-mobile}{
       margin-bottom: 55px;
    }
}   




