/* 05. blog area css here */
.blog_section {
	background: #f8f8f8;
	padding: 70px 0;
    @media #{$large-mobile}{
       padding: 57px 0 58px;
        margin-bottom: 30px;
    }
    
}
.blog_carousel{
   &:hover{
        & .owl-nav{
            & div{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    & .owl-nav{
        & div{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            left: -25px;
            font-size: 40px;
            @include transition(.3s);
            color: #b0b0b0;
            @media #{$mini-laptop-device}{
                left: 0;
            }
            @media #{$desktop-device}{
               left: 0;
            }
            @media #{$tablet-device}{
               left: 0;
            }
            @media #{$large-mobile}{
               left: 0;
            }
            &:hover{
                color: $secondary_color;
            }
            &.owl-next{
                right: -25px;
                left: auto;
                @media #{$mini-laptop-device}{
                    right: 0;
                }
                 @media #{$desktop-device}{
                   right: 0;
                }
                @media #{$tablet-device}{
                   right: 0;
                }
                @media #{$large-mobile}{
                   right: 0;
                }
            }
        }
    }
    
    & .col-lg-3{
        flex: 0 0 100%;
        width: 100%;
    }
}

.blog_content {
	padding-top: 20px;
    text-align: center;
    & p{
        font-size: 13px;
        line-height: 23px;
        margin-bottom: 10px;
        & a{
           color: $secondary_color; 
            &:hover{
                text-decoration: underline;
            }
        }
    }
    & h3{
        font-size: 16px;
        text-transform: capitalize;
        line-height: 21px;
        margin-bottom: 0;
        font-weight: 500;
        & a{
            &:hover{
                color: $secondary_color;
            }
        }
    }
}




/*home four css here*/
.blog_section_four{
    background: inherit;
    padding: 0;
    @media #{$tablet-device}{
       margin-bottom: 62px;
    }
    @media #{$large-mobile}{
       margin-bottom: 52px;
    }
    & .blog_content{
        text-align: left;
        & p.post_desc{
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 0;
            margin-top: 14px;
        }
    }
    & .owl-nav{
        & div{
            right: 25px;
            left: auto;
            top: -57px;
            opacity: inherit;
            visibility: inherit;
            font-size: 26px;
            @media #{$large-mobile}{
                top: -42px;
            }
            &.owl-next{
                right: 0;
            }
        }
    }
}

















