/*brand css here*/
.brand_area{
    @media #{$large-mobile}{
       margin-bottom: 60px;
    }
    @media #{$small-mobile}{
        margin-bottom: 34px;
    }
}
.brand_container{
    & .single_brand{
        & img{
            width: inherit;
            margin: 0 auto;
        }
    }
    & .owl-item.last{
        & .brand_items{
            border-right: 0;
        }
    }
    &:hover{
        & .owl-nav{
            & div{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    & .owl-nav{
        & div{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            left: -35px;
            font-size: 40px;
            @include transition(.3s);
            color: #b0b0b0;
            @media #{$mini-laptop-device}{
                left: 0;
            }
            @media #{$desktop-device}{
               left: 0;
            }
            @media #{$tablet-device}{
               left: 0;
            }
            @media #{$large-mobile}{
               left: 0;
            }
            &:hover{
                color: $secondary_color;
            }
            &.owl-next{
                right: -35px;
                left: auto;
                @media #{$mini-laptop-device}{
                    right: 0;
                }
                @media #{$desktop-device}{
                    right: 0;
                }
                @media #{$tablet-device}{
                    right: 0;
                }
                @media #{$large-mobile}{
                    right: 0;
                }
            }
        }
    }
}

.single_brand{
    border-bottom: 1px solid $grey_color;
    padding: 20px 15px;
    &:last-child{
        border-bottom: 0;
    }
}
.brand_items{
    border-right: 1px solid $grey_color;
}


/*home two css here*/
.brand_two{
    border-top: 1px solid $grey_color;
    & .brand_container{
        padding-top: 70px;
        @media #{$large-mobile}{
           padding-top: 60px;
        }
        @media #{$small-mobile}{
            padding-top: 38px;
        }
    }
}











