/*  07. footer area css here */

.footer_top {
    background: #f8f8f8;
	padding: 50px 0 43px;
    border-bottom: 1px solid $grey_color;
    @media #{$tablet-device}{
       padding: 50px 0 36px;
    }
    @media #{$large-mobile}{
       padding: 50px 0 6px;
    }
}
.widgets_container{
     @media #{$tablet-device}{
       margin-bottom: 10px;
    }
    @media #{$large-mobile}{
       margin-bottom: 42px;
    }
    & h3{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 18px;
        text-transform: capitalize;
        font-weight: 500;
        @media #{$large-mobile}{
            margin-bottom: 12px;
            line-height: 22px;
            font-size: 18px;
        }
    }
    & p{
        margin: 0;
        @media #{$large-mobile}{
           padding: 0 34px;
        }
    }
    &.widget_menu{
        padding-top: 30px;
        @media #{$large-mobile}{
           padding-top: 0;
        }
    }
    &.newsletter{
        padding-top: 30px;
        @media #{$large-mobile}{
           padding-top: 0;
        }
    }
  
}
.footer_logo{
    margin-bottom: 18px;
    & a{
        & img{
            max-width: 162px;
            @media #{$large-mobile}{
               max-width: 126px;
            }
        }
    }
}

.footer_contact{
    & p{
        font-size: 14px;
        margin-bottom: 18px;
        line-height: 25px;
        &:last-child{
            margin-bottom: 0;
        }
        @media #{$desktop-device}{
           font-size: 13px;
            margin-bottom: 14px;
        }
        @media #{$large-mobile}{
            margin-bottom: 11px;
            padding: 0;
        }
        & span{
            font-size: 16px;
            color: $secondary_color;
        }
    }   
}
.footer_menu{
    & ul{
        & li{
            margin-bottom: 16px;
            @media #{$large-mobile}{
                margin-bottom: 11px;
            }
            &:last-child{
                margin-bottom: 0;
            }
            & a{
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                @media #{$desktop-device}{
                   font-size: 13px;
                }
                &:hover{
                    color: $secondary_color;
                }
            }
        }
    }
}
.footer_social_link{
    margin-bottom: 50px;
    @media #{$large-mobile}{
        margin-bottom: 25px;
    }
    & ul{
        & li{
            display: inline-block;
            margin-right: 6px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                width: 42px;
                height: 42px;
                line-height: 42px;
                color: $white;
                border-radius: 4px;
                display: block;
                text-align: center;
                font-size: 16px;
                @media #{$large-mobile}{
                    width: 38px;
                    height: 38px;
                    line-height: 38px;
                    font-size: 15px;
                }
                &:hover{
                    opacity: 0.8;
                }
                &.facebook{
                    background: #3b5998;
                }
                &.twitter{
                    background: #00aced;
                }
                &.instagram{
                    background: #bc2a8d;
                }
                &.linkedin{
                    background: #007bb6;
                }
                &.rss{
                    background: #f26522;
                }
            }
        }
    }
}
.subscribe_form{
    & form{
        position: relative;
        width: 350px;
        background: $white;
        border-radius: 5px;
        border: 1px solid $grey_color;
        @media #{$desktop-device}{
            width: 100%;
        }
        @media #{$large-mobile}{
            width: 100%;
        }
        & input{
            width: 100%;
            height: 48px;
            color: #888;
            font-size: 13px;
            background: none;
            border: 0;
            padding: 0 120px 0 15px;
            @media #{$large-mobile}{
                padding: 0 105px 0 15px;
                height: 40px;
            }
        }
        & button{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            font-size: 12px;
            color: $body-color;
            background:  $secondary_color;
            font-weight: 500;
            padding: 0 18px;
            border: 0;
            text-transform: uppercase;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            &:hover{
                background: $fonts_color;
            }
            @media #{$large-mobile}{
                padding: 0 9px;
            }
        }
    }
}

.mailchimp-error {
	text-align: center;
	color: green;
}
.mailchimp-success {
	text-align: center;
	margin-top: 18px;
	color: green;
}

.copyright_area{
    @media #{$large-mobile}{
       text-align: center;
        margin-bottom: 14px;
    }
    & p{
        text-transform: capitalize;
        line-height: 25px;
        font-size:14px;
        & a{
            &:hover{
                text-decoration: underline;
                color: $secondary_color;
            }
        }
    }
}


.footer_bottom {
	padding: 30px 0;
    @media #{$large-mobile}{
       padding: 20px 0;
    }

}
.footer_payment{
    text-align: right;
    @media #{$large-mobile}{
       text-align: center !important;
    }
}



/*home two css here*/
.footer_top_inner{
    padding-top: 50px;
    border-top: 1px solid $grey_color;
}



















