
/* 2. Home 1 Header css here */

/* 01. header css here */
.off_canvars_overlay {
	width: 100%;
	height: 100%;
	position: fixed;
    z-index: 99;
	opacity: 0;
	visibility: hidden;
	cursor: crosshair;
    background: $fonts_color;
    top: 0;
    &.active{
        opacity: 0.5;
        visibility: visible;
    }
}
.Offcanvas_menu{
    display: none;
     @media #{$tablet-device}{
        display: block;
        
    }
    @media #{$large-mobile}{
        display: block;
    }
    
}
.Offcanvas_menu_wrapper{
	width: 290px;
	position: fixed;
	background: #fff;
	z-index: 99;
	top: 0;
	height: 100vh;
    transition: .5s;
    left: 0;
    margin-left: -300px;
    padding: 50px 20px 30px;
    overflow-y: auto;
    &.active{
        margin-left: 0;
    }
    & .slinky-theme-default {
        background: inherit;
        min-height: 300px;
         overflow-y: auto;
    }
    & .search_container{
        display: block;
    }
    & .middel_right_info{
        display: flex;
        justify-content: center;
    }
}
.offcanvas_main_menu{
    & > li{
        &.menu-item-has-children{
            &.menu-open{
                & > span.menu-expand{
                    transform: rotate(180deg);
                }
            }
        }
        & ul{
            & li{
                &.menu-item-has-children{
                    &.menu-open{
                        & span.menu-expand{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}
.offcanvas_main_menu{
    & li{
        position: relative;
        
        &:last-child{
            margin: 0;
        }
        & span{
            &.menu-expand{
                position: absolute;
                right: 0;
            }
        }
        & a{
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
            display: block;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid $grey_color;
            &:hover{
                color: $secondary_color;
            }
        }
        & ul.sub-menu{
            padding-left: 20px;
            & li{
                & a{
                    
                }
            }
        }
         
    }
}

.Offcanvas_footer{
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    & span{
        & a{
            font-size: 14px;
            &:hover{
                color: $secondary_color;
            }
        }
    }
    & ul{
        margin-top: 20px;
        & li{
            display: inline-block;
            margin-right: 4px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                display: inline-block;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                border-radius: 50%;
                font-size: 13px;
                color: #ffffff;
                
            }
            &.facebook{
                & a{
                    background: #3c5b9b;
                    &:hover{
                        background: $secondary_color;
                    }
                }
            }
            &.twitter{
                & a{
                    background: #1DA1F2;
                    &:hover{
                        background: $secondary_color;
                    }
                }
            }
            &.pinterest{
                & a{
                    background: #BD081B;
                    &:hover{
                        background: $secondary_color;
                    }
                }
            }
             &.google-plus{
                & a{
                    background: #DD4D42;
                    &:hover{
                        background: $secondary_color;
                    }
                }
            }
            &.linkedin{
                & a{
                    background: #010103;
                    &:hover{
                        background: $secondary_color;
                    }
                }
            }
           
        }
    }
}
.slinky-theme-default a:not(.back) {
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    &:hover{
        background: inherit;
        color: $secondary_color;
    }
	
}

.canvas_close {
	position: absolute;
	top: 10px;
    right: 13px;
    & a{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
        width: 32px;
        height: 32px;
        display: block;
        text-align: center;
        line-height: 31px;
        border: 1px solid $grey_color;
        border-radius: 50%;
        
        &:hover{
            background: $secondary_color; 
            border-color: $secondary_color;
            color: $body-color;
        }
    }
}
.canvas_open{
    position: absolute;
    right: 17px;
    top: 26px;
    z-index: 9;
    @media #{$large-mobile}{
        right: 18px;
        top: 20px;
    }
    & a{
       font-size: 30px;
        color: $fonts_color; 
        width: 43px;
        height: 40px;
        display: block;
        line-height: 39px;
        text-align: center;
        border: 1px solid $grey_color;
        @media #{$large-mobile}{
            width: 35px;
            height: 34px;
            line-height: 34px;
            font-size: 24px;
        }
        &:hover{
            color: $secondary_color; 
        }
    }
}

.Offcanvas_menu_two{
    & .canvas_close{
        & a{
            &:hover{
                background: $secondary_color2;
                border-color: $secondary_color2;
            }
        }
    }
    & .offcanvas_main_menu{
        & li{
            & a{
                &:hover{
                    color: $secondary_color2;
                }
            }
        }
    }
    & .Offcanvas_footer{
        & span{
            & a{
                &:hover{
                    color: $secondary_color2; 
                }
            }
        }
    }
}

.main_header{
     @media #{$tablet-device}{
        padding-bottom: 30px;
    }
    @media #{$large-mobile}{
        padding-bottom: 25px;
    }
    &.header_padding{
        padding-bottom: 0;
    }
    
}

.sticky-header.sticky {
	position: fixed;
	z-index: 99;
	width: 100%;
	top: 0;
    background: rgba(255,255,255,0.95);
    box-shadow: 0 1px 3px rgba(0,0,0,0.11);
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 900ms;
	animation-duration: 900ms;
	-webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
	animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-fill-mode: none;
	animation-fill-mode: none;
	-webkit-animation-play-state: running;
	animation-play-state: running;
    border-bottom: 0;
    display: block;
    @media #{$tablet-device}{
        display: none;
    }
    @media #{$large-mobile}{
        display: none;
    }
}
.sticky_header_area{
    display: none;
}
.sticky_header_right{
    display: flex;
    justify-content: flex-end;
    & .main_menu {
        margin-left: 0;
        margin-right: 50px;
        @media #{$desktop-device}{
            margin-right: 44px;
        }
        & nav{
            & > ul{
                & > li{
                    @media #{$desktop-device}{
                        margin-right: 24px;
                    }
                    & > a{
                        color: $fonts_color;
                        @media #{$desktop-device}{
                            font-size: 13px;
                        }
                        &.active{
                            color: $secondary_color; 
                        }
                        &::before{
                            display: none;
                        }
                    }
                    &:hover{
                        & > a{
                           color: $secondary_color; 
                        }
                    }
                } 
            }
        }
    }
    & .header_wishlist{
        @media #{$desktop-device}{
            margin-right: 30px;
        }
    }
}

.header_top {
    border-bottom: 1px solid $grey_color;
    background: #F8F9F9;
    @media #{$large-mobile}{
        display: none;
    }
    @media #{$tablet-device}{
        display: none;
    }
}

.support_info{
    & p{
        line-height: 43px;
        @media #{$tablet-device}{
            line-height: 22px;
            text-align: center;
            font-size: 12px;
        }
        @media #{$large-mobile}{
            line-height: 22px;
            text-align: center;
            font-size: 12px;
        }
        & a{
            &:hover{
                color: $secondary_color;
            }
        }
    }
}

.top_right{
    text-align: right;
    @media #{$large-mobile}{
        text-align: center !important;
        margin-bottom: 16px;
    }
    @media #{$tablet-device}{
        text-align: center !important;
        margin-bottom: 16px;
    }
    & > ul{
        & > li{
            display: inline-block;
            position: relative;
            padding-right: 20px;
            margin-right: 20px;
            
            &:hover{
                & > a{
                    color: $secondary_color;    
                }
            }
            @media #{$large-mobile}{
                padding-right: 15px;
                margin-right: 15px;
            }
            &:last-child{
                padding-right: 0;
                margin-right: 0;
            }
            &::before{
                position: absolute;
                content: "";
                width: 1px;
                height: 12px;
                background:  #1b1b1b;
                top: 50%;
                right: 0px;
                transform: translatey(-50%);
            }
            &:last-child::before{
                display: none;
            }
         
            & > a{
                color: $fonts_color;
                text-transform: capitalize;
                line-height: 43px;
                cursor: pointer;
                display: inline-block;
                font-weight: 400;
                @media #{$large-mobile}{
                    line-height: 30px;
                }
                @media #{$tablet-device}{
                    line-height: 30px;
                }  
            }
        }
    }
}
.top_right > ul > li:hover a:not([href]):not([tabindex]){
    color: $secondary_color;
}


/*header top css end*/


/* 2.2 header middel css here */


.logo{
    & a{
        & img{
            max-width: 162px;
             @media #{$large-mobile}{
               max-width: 120px;
            }
        }
    }
}
.header_middle {
	padding: 25px 0;
    @media #{$tablet-device}{
        padding: 28px 0;
    }
    @media #{$large-mobile}{
       padding: 23px 0 24px;
    }
   
}

.middel_right {
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	align-items: center;
    @media #{$large-mobile}{
        justify-content: center;
        flex-direction: column;
    }
    
}

/*search container css here*/

.hover_category{
    position: relative;
    &::before{
        content: "";
        width: 1px;
        height: 16px;
        background: #a1a1a1;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        right: 0;
        @media #{$tablet-device}{
            display: none;
        }
        @media #{$large-mobile}{
            display: none;
        }
    }
    & .select_option{
        border: 0;
        background: inherit;
        height: 47px;
        line-height: 47px;
        padding-left: 13px;
        padding-right: 30px;
        font-size: 14px;
        min-width: 170px;
        @media #{$desktop-device}{
            min-width: 150px;
            padding-right: 28px;
        }
        @media #{$tablet-device}{
            height: 34px;
            line-height: 35px;
            font-size: 13px;
            padding-left: 50px;
            padding-right: 51px;
            border: 1px solid $grey_color;
        }
        @media #{$large-mobile}{
            height: 34px;
            line-height: 35px;
            font-size: 13px;
            padding-left: 50px;
            padding-right: 51px;
            border: 1px solid $grey_color;
        }
        &::after{
            top: 54%;
            right: 13px;
        }
        & ul.list{
            max-height: 300px;
            overflow: auto;
        }
    }
}
.search_container{
    margin-right: 60px;
    @media #{$desktop-device}{
        margin-right: 50px;
    }
    @media #{$tablet-device}{
       margin-bottom: 28px;
        display: none;
        margin-right: 0;
    }
    @media #{$large-mobile}{
        margin-bottom: 28px;
        margin-right: 0;
        display: none;
    }
    & form{
        display: flex;
        border-radius: 5px;
        border: 2px solid $grey_color;
        background: $body-color;
        width: 600px;
        @media #{$desktop-device}{
            width: 481px;
        }
        @media #{$tablet-device}{
            flex-direction: column-reverse;
            border: 0;
            align-items: center;
            width: 100%;
        }
         @media #{$large-mobile}{
           flex-direction: column-reverse;
             border: 0;
             align-items: center;
             width: 100%;
        }
        
    }
    
}
.search_box{
    position: relative;
    width: 100%;
    @media #{$tablet-device}{
         border: 1px solid $grey_color;
         margin-bottom: 25px;
    }
     @media #{$large-mobile}{
         border: 1px solid $grey_color;
         margin-bottom: 25px;
    }
    & input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
       color: $fonts_color;
    }
    & input::-moz-placeholder { /* Firefox 19+ */
       color: $fonts_color;
    }
    & input:-ms-input-placeholder { /* IE 10+ */
       color: $fonts_color;
    }
    & input:-moz-placeholder { /* Firefox 18- */
       color: $fonts_color;
    }
    & input{
        border: 0;
        background: inherit;
        width: 100%;
        height: 46px;
        color: $fonts_color;
        font-size: 14px;
        font-weight: 400;
        padding: 0 132px 0 20px;
        opacity: 0.7;
        @media #{$tablet-device}{
            font-size: 12px;
            padding: 0 92px 0 10px;
            width: 100%;
            height: 34px;
        }
        @media #{$large-mobile}{
            font-size: 12px;
            padding: 0 92px 0 10px;
            width: 100%;
            height: 34px;
        }

    }
    & button{
        border: 0;
        position: absolute;
        top: -2px;
        bottom: -2px;
        right: -2px;
        background: $secondary_color;
        color: $body-color;
        font-weight: 400;
        padding: 0 20px;
        min-width: 120px;
        border-radius: 0 5px 5px 0;
        @include transition(.3s);
        &:hover{
            background: $fonts_color;
        }
        @media #{$desktop-device}{
            padding: 0 17px;
            min-width: 100px;
        }
        @media #{$tablet-device}{
            min-width: 78px;
            padding: 0 14px;
            top: -1px;
            bottom: -1px;
            right: -1px;
        }
        @media #{$large-mobile}{
            min-width: 78px;
            padding: 0 14px;
            top: -1px;
            bottom: -1px;
            right: -1px;
        }
        
    }
}

/*search container css end*/

.middel_right_info{
    display: flex;
    align-items: center;
    margin-top: 7px;
     @media #{$tablet-device}{
        display: none;
        margin-bottom: 22px;
    }
    @media #{$large-mobile}{
        display: none;
        margin-bottom: 22px;
    }
    
}
.header_wishlist{
    position: relative;
    margin-right: 40px;
    @media #{$desktop-device}{
       margin-right: 35px;
    }
    @media #{$tablet-device}{
       margin-right: 35px;
    }
    @media #{$large-mobile}{
       margin-right: 35px;
    }
    & span.wishlist_quantity{
         position: absolute;
        left: -17px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: $body-color;
        background:  $secondary_color;
        border-radius: 50%;
        top: -7px;
        font-size: 11px;
    }
    & a{
        font-size: 20px;
        font-weight: 400;
        text-transform: capitalize;
        display: block;
        &:hover{
            color: $secondary_color;
        }
        
        & span{
            font-size: 32px;
            padding-right: 4px;
            @media #{$tablet-device}{
               font-size: 27px;
                padding-right: 3px;
            }
        }
    }
}

.mini_cart_wrapper {
    position: relative;
    
    &:hover{
        & > a{
            color: $secondary_color; 
        }
    }
    & span.cart_quantity{
        position: absolute;
        left: -17px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: $body-color;
        background:  $secondary_color;
        border-radius: 50%;
        top: -7px;
        font-size: 11px;
    }
    & > a{
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        display: block;
        & i.fa-shopping-bag{
            font-size: 20px;
            padding-right: 10px;
        }
        & i.fa-angle-down{
            margin-left: 6px;
        }
        & span{
            font-size: 32px;
            padding-right: 5px;
            @media #{$tablet-device}{
               font-size: 27px;
                padding-right: 2px;
            }
        }

    }
    &:hover{
        & .mini_cart{
            max-height: 500px;
            padding: 18px 28px 33px;
            visibility: visible;
             @media #{$tablet-device}{
                padding: 10px 11px 20px;
                 visibility: inherit;
            }
            @media #{$large-mobile}{
                padding: 10px 11px 20px;
                visibility: inherit;
            }
        }

    }
}

.mini_cart {
	position: absolute;
    min-width: 355px;
    padding: 0 28px;
	background: $body-color;
    border: 0;
	z-index: 999;
	right: 0;
    top: 142%;
	max-height: 0;
    visibility: hidden;
    overflow: hidden;
    border:1px solid $grey_color;
    @include transition(.5s);
    @media #{$tablet-device}{
        display: none;
        transition: unset;
        max-height: 500px;
        padding: 10px 11px 20px;
        min-width: 260px;
        border:1px solid $grey_color;
        right: -50px;
        visibility: inherit;
    }
    @media #{$large-mobile}{
        display: none;
        transition: unset;
        max-height: 500px;
        padding: 10px 11px 20px;
        min-width: 260px;
        border:1px solid $grey_color;
        right: -50px;
        visibility: inherit;
    }
}


.cart_img {
	width: 90px;
	margin-right: 10px;
    border: 1px solid transparent;
    &:hover{
        border-color: $secondary_color;
    }
     @media #{$tablet-device}{
        width: 70px;
    }
    @media #{$large-mobile}{
        width: 70px;
    }
}
.cart_info{
    width: 63%;
    & a{
       font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        display: block;
        margin-bottom: 6px;
        @media #{$tablet-device}{
            font-size: 13px;
        }
        @media #{$large-mobile}{
            font-size: 13px;
        }
        &:hover{
            color: $secondary_color; 
        }
    }
    & p{
       font-size: 12px;
        & span{
            font-weight: 600;
        }
    }
   
}
.cart_remove{
    & a{
        font-size: 15px;
        border: 1px solid $grey_color;
        width: 20px;
        height: 20px;
        display: block;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        &:hover{
            background: $secondary_color; 
            border-color: $secondary_color; 
            color: $white;
            
        }
    }
}

.cart_item {
	overflow: hidden;
	padding: 11px 0;
	border-bottom: 1px solid $grey_color;
    display: flex;
    justify-content: space-between;
}
.mini_cart_table{
    padding: 23px 0;

}
.cart_total{
	display: flex;
	justify-content: space-between;
    & span{
        font-size: 14px;
        font-weight: 400;
        &.price{
            font-weight: 700;
        }
        @media #{$tablet-device}{
            font-size: 13px;
        }
        @media #{$large-mobile}{
            font-size: 13px;
        }
    }
  
    
}

.cart_button{
    &:first-child{
        margin-bottom:15px;
    }
    & a{
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 12px;
        font-weight: 500;
        background: #eef0f1;
        display: block;
        text-align: center;
        line-height: 20px;
        margin-bottom: 0;
        padding: 13px 0px 11px;
        border: 1px solid $grey_color;
        &:hover{
            background: $secondary_color; 
            border-color: $secondary_color; 
            color: $body-color;
        }
    }

}


/*header middel css end*/





/* 2.4 main menu css here */
.main_menu_area{
    background: $secondary_color; 
    @media #{$tablet-device}{
        background: inherit;
    }
    @media #{$large-mobile}{
        background: inherit;
    }
}
.menu_position{
    position: relative;
}
.main_menu{
    margin-left: 20px;
    @media #{$desktop-device}{
       margin-left: 0;
    }
    @media #{$tablet-device}{
        display: none;
    }
    @media #{$large-mobile}{
        display: none;
    }
    & nav{
        & > ul{
            & > li{
                display: inline-block;
	            position: relative;
                margin-right: 45px;
                padding: 14px 0;
                &:last-child{
                    margin-right: 0;
                }
                @media #{$desktop-device}{
                   margin-right: 36px;
                }
                &:hover{
                    & ul.sub_menu{
                        opacity: 1;
                        visibility: visible;
                        transform: perspective(600px) rotateX(0deg);
                    }
                    & .mega_menu{
                        opacity: 1;
                        visibility: visible;
                        transform: perspective(600px) rotateX(0deg);
                    }
                    & > a{
                        &::before{
                            left: 0;
                            right: 0;
                            width: 100%;
                        }
                    }
                }
                
                & > a{
                    display: block;
                    padding: 6px 0;
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: $white;
                    position: relative;
                    &::before{
                        background: #ffffff;
                        bottom: 0;
                        content: '';
                        display: block;
                        height: 2px;
                        left: 50%;
                        position: absolute;
                        right: 50%;
                        top: auto;
                        width: 0;
                        z-index: 9;
                        -webkit-transition: .3s ease;
                        -moz-transition: .3s ease;
                        -ms-transition: .3s ease;
                        -o-transition: .3s ease;
                        transition: .3s ease;
                    }
                    @media #{$desktop-device}{
                        font-size: 13px;
                    }
                    & i{
                        margin-left: 3px;
                    }
                    &.active{
                        &::before{
                            left: 0;
                            right: 0;
                            width: 100%;
                        }
                    }
                }
                & ul.sub_menu{
                    position: absolute;
                    min-width: 240px;
                    padding: 24px 30px;
                    background: $body-color;
                    box-shadow: 0 3px 11px 0 rgba(0,0,0,0.1);
                    -webkit-transform: perspective(600px) rotateX(-90deg);
                    transform: perspective(600px) rotateX(-90deg);
                    -webkit-transform-origin: 0 0 0;
                    transform-origin: 0 0 0;
                    left: 0;
                    right: auto;
                    opacity: 0;
                    visibility: hidden;
                    @include transition(.5s);
                    z-index: 99;
                    top: 100%;
                    text-align: left;
                    & li{
                        & a{
                            font-size: 13px;
                            font-weight: 400;
                            display: block;
                            line-height: 32px;
                            text-transform: capitalize;
                            font-size: 13px;
                            &:hover{
                                color: $secondary_color;
                            }
                        }
                    }
                }
                &.mega_items{
                    position: static;
                }
                
                & .mega_menu{
                    position: absolute;
                    min-width: 100%;
                    padding: 25px 30px 30px 30px;
                    background: $body-color;
                    box-shadow: 0 3px 11px 0 rgba(0,0,0,0.1);
                    -webkit-transform: perspective(600px) rotateX(-90deg);
                    transform: perspective(600px) rotateX(-90deg);
                    -webkit-transform-origin: 0 0 0;
                    transform-origin: 0 0 0;
                    left: 0;
                    right: auto;
                    opacity: 0;
                    visibility: hidden;
                    @include transition(.5s);
                    z-index: 99;
                    top: 100%;
                    text-align: left;
                    
                }
                
            }
        }
    }
}

.mega_menu_inner{
    display: flex;
    justify-content: space-between;
     & > li{
        & > a{
            font-size: 14px;
            line-height: 24px;
            text-transform: capitalize;
            font-weight: 500;
            display: block;
            margin-bottom: 8px;
            &:hover{
                color: $secondary_color;
            }
        }
        & ul{
            & li{
                display: block;
                & a{
                    font-size: 13px;
                    font-weight: 400;
                    display: block;
                    line-height: 28px;
                    text-transform: capitalize;
                    &:hover{
                        color: $secondary_color;
                    }
                }
            }
        }
    }
}

/*main menu css end*/


/*mobaile menu css here*/
.mean-container  {
    & .mean-bar{
        background: inherit;
        position: absolute;
        z-index: 9;
        top: 43px;
        left: 0;
        width: 100%;
        
        &::after{
            top: -33px;
            left: 22px;
            color: $body-color;
            @media #{$large-mobile}{
                left: 22px;
                font-size: 15px;
            }
        }
    }
    & .mean-nav{
        max-height: 300px;
        overflow: auto;
        & ul{
            & li{
                & a{
                    font-weight: 400;
                }
            }
        }
    }
    & a.meanmenu-reveal{
        float: left;
        right: 17px;
        top: -34px;
        color: $body-color;
        @media #{$large-mobile}{
            right: 15px;
            top: -34px;
        }
        & span{
            background: $body-color;
        }
    }
}

.mobile-menu {
	border: 1px solid #ddd;
	height: 45px;
    top: -31px;
    position: relative;
    @media #{$large-mobile}{
        top: 19px;
    }
}



/*-- 2.3 Categories menu css here --*/
.categories_menu {
	position: relative;
}
.categories_title{
    background: $secondary_color2;
	padding: 0 30px;
	position: relative;
	cursor: pointer;
    height: 56px;
    line-height: 56px;
    @media #{$tablet-device}{
        height: 45px;
        line-height: 46px;
    }
    @media #{$large-mobile}{
        height: 43px;
        line-height: 43px
    }
    &::before{
        content: "\f394";
        color: #fff;
        display: inline-block;
        font-family: Ionicons;
        position: absolute;
        font-size: 22px;
        line-height: 0px;
        right: 20px;
        top: 50%;
        transform: translatey(-50%);
    }
    & h2{
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
        color: #fff;
        cursor: pointer;
        margin-bottom: 0;
        display: inline-block;
        @media #{$large-mobile}{
            font-size: 13px;
            line-height: 22px;
        }
    }

	
}

.categories_menu_toggle {
	padding: 15px 0 9px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	background: #fff;
	position: absolute;
	width: 100%;
	top: 100%;
    display: none;
	z-index: 9;
     @media #{$tablet-device}{
        display: none;
         max-height: 350px;
        overflow: auto;
    }
     @media #{$large-mobile}{
        display: none;
          max-height: 350px;
        overflow: auto;
         padding: 0 11px 0 20px;
    }
    &  > ul{
        &  > li{
            position: relative;
           
            & > a{
               font-size: 14px;
                line-height: 43px;
                text-transform: capitalize;
                font-weight: 400;
                display: block;
                cursor: pointer;
                padding: 0 20px 0 30px;
                 @media #{$desktop-device}{
                    line-height: 38px;
                     
                }
                @media #{$large-mobile}{
                    line-height: 35px;
                    padding: 0;
                }
                & i.fa-angle-right{
                    float: right;
                    font-size: 15px;
                    line-height: 35px;
                    transition: .3s;
                    -webkit-transition: .3s;
                     @media #{$tablet-device}{
                        display: none;
                    }
                    @media #{$large-mobile}{
                        display: none;
                    }
                }
                &:hover{
                     @media #{$tablet-device}{
                        color: $secondary_color;
                    }
                    @media #{$large-mobile}{
                       color: $secondary_color;
                    }
                }
                
            }
            &:last-child{
                & > a{
                     border-bottom: 0;
                }
            }
            
            &:hover{
                & ul{
                    &.categories_mega_menu{
                        opacity: 1;
                        visibility: visible;
                        left: 100%;
                    } 
                }
                & > a{
                    color: $secondary_color;
                }
            }
            
            & ul{
                &.categories_mega_menu{
                    position: absolute;
                    left: 120%;
                    width: 720px;
                    -webkit-box-shadow: 1px 0 6px 0 rgba(0,0,0,0.3);
                    box-shadow: 1px 0 6px 0 rgba(0,0,0,0.3);
                    background: #fff;
                    padding: 25px 20px 23px;
                    overflow: hidden;
                    top: 0;
                    -webkit-transition: .3s;
                    transition: .3s;
                    z-index: 99;
                    opacity: 0;
                    visibility: hidden;
                    @media #{$desktop-device}{
                        width: 680px;
                    }
                    @media #{$large-mobile}{
                        display: none;
                        opacity: inherit !important;
                        visibility: inherit !important;
                        left: inherit !important;
                        width: 100%;
                        top: 100%;
                        max-height: 350px;
                        overflow: auto;
                        transition: unset;
                        box-shadow: inherit;
                        position: inherit;
                        padding: 6px 20px 0px 25px;
                    }
                    @media #{$tablet-device}{
                        display: none;
                        opacity: inherit !important;
                        visibility: inherit !important;
                        left: inherit !important;
                        width: 100%;
                        top: 100%;
                        max-height: 350px;
                        overflow: auto;
                        transition: unset;
                        box-shadow: inherit;
                        position: inherit;
                        padding: 6px 20px 0px 40px;
                    }
                    &.open{
                        display: block;
                        left: 0;
                    }
                    & > li{
                        padding: 0 15px;
                        width: 25%;
                        float: left;
                        @media #{$tablet-device}{
                            width: 100%;
                            padding: 0;
                        }
                        @media #{$large-mobile}{
                            width: 100%;
                            padding: 0;
                        }
                        
                        & > a{
                            line-height: 30px;
                            font-size: 14px;
                            font-weight: 500;
                            text-transform: uppercase;
                            display: block;
                            margin-bottom: 10px;
                            &:hover{
                                color: $secondary_color;
                            }
         
                        }
                        &.menu_item_children{
                            & > a{
                                @media #{$tablet-device}{
                                    text-transform: capitalize;
                                    font-weight: 400;
                                }
                                @media #{$large-mobile}{
                                    text-transform: capitalize;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.categories_menu_toggle{
    &  ul{
        & li{
            &.menu_item_children{
                & > a{
                    @media #{$tablet-device}{
                        position: relative;
                        &::before{
                            position: absolute;
                            content: "+";
                            right:15px;
                            top: 50%;
                            transform: translatey(-50%);
                            font-size: 20px;
                        }
                    }
                    @media #{$large-mobile}{
                        position: relative;
                        &::before{
                            position: absolute;
                            content: "+";
                            right:15px;
                            top: 50%;
                            transform: translatey(-50%);
                            font-size: 20px;
                        }
                    }
                }
                &.open{
                    & > a{
                        @media #{$tablet-device}{
                            &::before{
                                display: none;
                            }
                            &::after{
                                position: absolute;
                                content: "-";
                                right:15px;
                                top: 50%;
                                transform: translatey(-50%);
                                font-size: 30px;
                            }
                        }
                        @media #{$large-mobile}{
                            &::before{
                                display: none;
                            }
                            &::after{
                                position: absolute;
                                content: "-";
                                right:15px;
                                top: 50%;
                                transform: translatey(-50%);
                                font-size: 30px;
                            }
                        }
                    }
                }
                    
            }
        }
    }
}

.categorie_sub_menu{
    @media #{$tablet-device}{
        display: none;
        padding: 1px 0 9px 30px;
    }
    @media #{$large-mobile}{
        display: none;
        padding: 1px 0 9px 30px;
    }
    & li{
        & a{
            color: $fonts_color;
            text-transform: capitalize;
            display: block;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            &:hover{
                color: $secondary_color;
            }
            @media #{$tablet-device}{
                line-height: 33px;
            }
            @media #{$large-mobile}{
                line-height: 33px;
            } 
        }
    }
}


.categories_menu_toggle ul li ul.categories_mega_menu.column_3 {
	width: 620px;
    @media #{$large-mobile}{
        width: 100%;
    }
    @media #{$tablet-device}{
        width: 100%;
    }
}
.categories_menu_toggle ul li ul.categories_mega_menu.column_3 > li {
	width: 33.33%;
    @media #{$large-mobile}{
        width: 100%;
    }
    @media #{$tablet-device}{
        width: 100%;
    }
}
.categories_menu_toggle ul li ul.categories_mega_menu.column_2 {
	width: 500px;
    @media #{$large-mobile}{
        width: 100%;
    }
    @media #{$tablet-device}{
        width: 100%;
    }
    
}
.categories_menu_toggle ul li ul.categories_mega_menu.column_2 > li {
	width: 50%;
    @media #{$large-mobile}{
        width: 100%;
    }
    @media #{$tablet-device}{
        width: 100%;
    }
}
.categorie_sub {
	opacity: 0;
	z-index: 999;
	position: absolute;
	width: 101%;
	left: -1px;
	border: lef;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
	-webkit-transition: .3s;
	transition: .3s;
	top: 65%;
	visibility: hidden;
    @media #{$tablet-device}{
        width: 100%;
        left: 0px;
    }
    &.open{
        top: 95%;
        opacity: 1;
        visibility: visible;
    }
}

.categories_menu_toggle ul li.has-sub > a::before {
	position: absolute;
	content: "\f055";
	font-family: FontAwesome;
	top: 0;
	right: 20px;
	font-size: 18px;
	pointer-events: none;
}
.categories_menu_toggle ul li.has-sub > a.open::before{
    content: "\f056";
}
.categories_menu_toggle ul li.has-sub ul.categorie_sub li a {
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 16px;
	padding-left: 30px;
	display: block;
}
.categories_menu_toggle ul li.has-sub ul.categorie_sub li a:hover{
    color: $secondary_color;
}
.categories_menu_toggle ul li.has-sub {
	padding-bottom: 10px;
}

    .categories_menu_toggle ul li ul.categories_mega_menu > li:first-child {
        padding-left: 0;
    }
    .categories_menu_toggle ul li ul.categories_mega_menu > li:last-child {
        padding-right: 0;
        
    }

.categorie_banner{
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 500px;
    @media #{$large-mobile}{
        display: none;
    }
    @media #{$tablet-device}{
        display: none;
    }
    & a{
        & img{
            &:hover{
                opacity: 0.8;
            }
        }
    }
}
/*-- 2.7 Categories menu css end --*/



/*home two css here*/
.header_bottom {
	margin-bottom: 30px;
    @media #{$large-mobile}{
        margin-bottom: 0
    }
    @media #{$tablet-device}{
        margin-bottom: 0
    }
}
.menu_two{
    &.text-right{
        text-align: right;
    }
    & nav{
        & > ul{
            & > li{
                & > a{
                    color: $fonts_color;
                    &::before{
                        background: $fonts_color;
                    }
                }
            }
        }
    }
}

.categories_two{
    & .categories_title{
        height: 51px;
        line-height: 51px;
        border-radius: 4px;
        @media #{$tablet-device}{
            height: 45px;
            line-height: 46px;
        }
        @media #{$large-mobile}{
            height: 43px;
            line-height: 43px;
        }
        
    }
}
.middle_two{
    padding: 30px 0;
    @media #{$tablet-device}{
        padding: 28px 0;
    }
    @media #{$large-mobile}{
        padding: 23px 0 24px;
    }
}



/*home four css here*/
.categories_four{
    @media #{$tablet-device}{
        padding: 0;
    }
    @media #{$large-mobile}{
        padding: 0;
    }
    & .categories_menu_toggle{
        display: block;
        padding: 14px 0 5px;
        @media #{$tablet-device}{
            display: none;
        }
         @media #{$large-mobile}{
            display: none;
        }
        & > ul{
            & > li{
                & > a{
                    line-height: 41px;
                }
            }
        }
    }
}
















