/* 03. product section css here */
.tab-content > .tab-pane.active {
	display: block;
	height: auto;
	opacity: 1;
	overflow: visible;
}
.tab-content > .tab-pane{
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;;
}
.section_title{
    margin-bottom: 30px;
    padding-bottom: 14px;
    border-bottom: 1px solid $grey_color;
    @media #{$large-mobile}{
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    & h2{
        font-size: 20px;
        line-height: 17px;
        font-weight: 500;
        display: inline-block;
        margin-bottom: 0;
        position: relative;
        text-transform: capitalize;
        @media #{$large-mobile}{
            font-size: 18px;
            line-height: 17px;
        }
    }
   
}
.product_area{
    @media #{$large-mobile}{
        margin-bottom: 32px;
    }
}
.product_thumb{
    position: relative;
    & a.secondary_img{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}
.product_carousel{
    &:hover{
        & .owl-nav{
            & div{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    & .owl-nav{
        & div{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            left: -35px;
            font-size: 40px;
            @include transition(.3s);
            color: #b0b0b0;
            @media #{$mini-laptop-device}{
                left: 0;
            }
            @media #{$desktop-device}{
               left: 0;
            }
            @media #{$tablet-device}{
               left: 0;
            }
            @media #{$large-mobile}{
               left: 0;
            }
            &:hover{
                color: $secondary_color;
            }
            &.owl-next{
                right: -35px;
                left: auto;
                @media #{$mini-laptop-device}{
                    right: 0;
                }
                @media #{$desktop-device}{
                   right: 0;
                }
                @media #{$tablet-device}{
                   right: 0;
                }
                @media #{$large-mobile}{
                   right: 0;
                }
            }
        }
    }
}

.label_product{
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    
    & span{
        &.label_sale{
            text-transform: capitalize;
            color: $white;
            background: $secondary_color3;
            font-size: 10px;
            text-align: center;
            display: block;
            border-radius: 50%;
        }
    }
}

.single_product{
    padding: 20px 15px;
    border: 2px solid transparent;
    border-radius: 3px;
    background: $white;
    &:hover{
        border-color: $grey_color;
        & .product_thumb{
            & a.secondary_img{
                opacity: 1;
                visibility: visible;
            }
        }

        & .action_links{
            opacity: 1;
            visibility: visible;
        }
        & .add_to_cart{
            opacity: 1;
            visibility: visible;
        }
    }
    
}
.product_content {
	margin-top: 16px;
    text-align: center;
    & h3{
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 0;
        & a{
            &:hover{
                color: $secondary_color;
            }
        }
    }
}
.action_links{
    transition: all 0.5s ease;
    position: absolute;
    left: 10px;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    & ul{
        & li{
            margin-bottom: 5px;
            &:last-child{
                margin-bottom: 0;
            }
            & a{
                line-height: 34px;
                width: 32px;
                height: 32px;
                text-align: center;
                font-size: 17px;
                background: $secondary_color;
                color: $white;
                display: block;
                transition: all 0.5s ease;
                border-radius: 50%;
                &:hover{
                    background: $secondary_color2;
                }
            }   
        }
    }
}

.add_to_cart{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 0.5s ease;
    & a{
        line-height: 16px;
        text-align: center;
        font-size: 12px;
	    padding: 12px 40px;
        text-transform: uppercase;
        font-weight: 500;
        display: inline-block;
        transition: all 0.5s ease;
        background: $secondary_color;
        color: $white;
        border-radius: 5px;
        &:hover{
            background: $secondary_color2;
        }
        @media #{$large-mobile}{
            font-size: 12px;
            padding: 10px 30px;
            line-height: 15px;
        }
    }
}

.price_box{
    margin-bottom: 13px;
    & span{
        &.old_price{
            text-decoration: line-through;
            font-weight: 400;
            font-size: 14px;
            margin-right: 5px;
        }
        &.current_price{
            color: $secondary_color;
            font-weight: 500;
            font-size: 16px;
            @media #{$large-mobile}{
                font-size: 14px;
            }
        }
        
    }
}

.product_timing {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.countdown_area {
	display: flex;
    justify-content: space-between;
    background: $secondary_color;
    padding: 8px 10px;
    border-radius: 4px;
    @media #{$large-mobile}{
        padding: 6px 10px;
    }
    
}
.countdown_number {
	color: $white;
	font-size: 16px;
	font-weight: 500;
	line-height: 17px;
    @media #{$large-mobile}{
        font-size: 14px;
        line-height: 15px;
    }
}
.countdown_title {
	text-transform: uppercase;
	font-size: 10px;
	color: $white;
	line-height: 17px;
    @media #{$large-mobile}{
        font-size: 9px;
        line-height: 16px;
    }
}


/*top category css here*/
.top_category_product{
    @media #{$large-mobile}{
        margin-bottom: 58px;
    }
}
.top_category_container{
    & .col-lg-2{
        flex: 0 0 100%;
        width: 100%;

    }
}
.top_category_header{
    @media #{$large-mobile}{
        text-align: center;
        margin-bottom: 30px;
    }
    & h3{
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: -1px;
        margin-bottom: 15px;
        @media #{$desktop-device}{
           font-size: 16px;
            margin-bottom: 10px;
        }
        @media #{$tablet-device}{
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 10px;
        }
        @media #{$large-mobile}{
           font-size: 16px;
            line-height: 22px;
            margin-bottom: 10px;
        }
    }
    
    & p{
        font-size: 14px;
        line-height: 25px;
        letter-spacing: -0.5px;
        margin-bottom: 0;
        @media #{$desktop-device}{
           line-height: 23px;
        }
         @media #{$tablet-device}{
            font-size: 12px;
            line-height: 23px;
        }
        @media #{$large-mobile}{
            font-size: 13px;
            line-height: 23px;
        }
    }
    & a{
        color: $white;
        background: $secondary_color;
        text-transform: capitalize;
        display: inline-block;
        padding: 10px 15px;
        border-radius: 4px;
        margin-top: 28px;
        &:hover{
            background: $fonts_color;
        }
        @media #{$desktop-device}{
            padding: 7px 4px;
            margin-top: 20px;
            font-size: 13px;
        }
         @media #{$tablet-device}{
            margin-top: 12px;
            font-size: 13px;
             padding: 7px 10px;
        }
        @media #{$large-mobile}{
            margin-top: 12px;
            font-size: 13px;
             padding: 7px 10px;
        }
    }
}
.single_category {
	padding: 20px 15px;
    background: $white;
    border: 1px solid $grey_color;
    position: relative;
    @include transition(.3s);
    border-radius: 4px;
    &:hover{
        border-color: $secondary_color;
        &::before{
            border-color: $secondary_color;
        }
    }
    &::before{
        border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        @include transition(.3s);
    }
}
.category_thumb {
	position: relative;
	z-index: 5;
}
.category_name{
    text-align: center;
    margin-top: 5px;
    position: relative;
    z-index: 5;
    & h3{
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        margin-bottom: 0;
        @media #{$tablet-device}{
           font-size: 12px;
        }
        @media #{$large-mobile}{
           font-size: 12px;
        }
        & a{
            &:hover{
                color: $secondary_color;
            } 
        }
    }
}


/*featured product css here*/
.featured_product_area{
    background: #f8f8f8;
    padding: 70px 0 35px;
    @media #{$large-mobile}{
       padding: 56px 0 25px;
        margin-bottom: 57px;
    }
}
.featured_container{
    & .col-lg-4{
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    & .single_product{
        overflow: hidden;
        margin-bottom: 30px;
        padding: 0;
        border: 1px solid transparent;
        &:hover{
            border-color: $grey_color;
        }
    }
    & .product_thumb{
        width: 48%;
        padding-right: 15px;
        float: left;
        @media #{$desktop-device}{
           width: 42%;
        }
        @media #{$tablet-device}{
           width: 42%;
        }
    }
    & .product_content{
        float: left;
        padding: 15px 15px 15px 0;
        width: 52%;
        margin-top: 0;
        text-align: left;
        @media #{$desktop-device}{
           width: 56%;
        }
        @media #{$tablet-device}{
           width: 56%;
        }
    }
    & .price_box{
        margin-bottom: 11px;
    }
    & .add_to_cart{
        position: inherit;
        margin-top: 15px;
        & a{
            display: block;
            padding: 9px 15px
        }
    }
    &:hover{
        & button{
            opacity: 1;
            visibility: visible;
        }
    }
    & > button{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        left: -35px;
        font-size: 40px;
        border: 0;
        @include transition(.3s);
        color: #b0b0b0;
        background: inherit;
        z-index: 9;
        width: 40px;
        padding: 0;
        @media #{$mini-laptop-device}{
            left: 0;
        }
        @media #{$desktop-device}{
           left: 0;
        }
        @media #{$tablet-device}{
           left: 0;
        }
        @media #{$large-mobile}{
           left: 0;
        }
        &:hover{
            color: $secondary_color;
        }
        &.next_arrow{
            right: -35px;
            left: auto;
            @media #{$mini-laptop-device}{
                right: 0;
            }
             @media #{$desktop-device}{
               right: 0;
            }
            @media #{$tablet-device}{
               right: 0;
            }
            @media #{$large-mobile}{
               right: 0;
            }
        }
    }
}
/*featured product css end*/

.product_left_area{
    @media #{$tablet-device}{
       margin-bottom: 42px;
    }
    @media #{$large-mobile}{
       margin-bottom: 30px;
    }
}




/*home two css here*/
.product_slick{
    &:hover{
        & button{
            opacity: 1;
            visibility: visible;
        }
    }
    & button{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        left: -35px;
        font-size: 40px;
        @include transition(.3s);
        color: #b0b0b0;
        border: 0;
        background: inherit;
        z-index: 9;
        @media #{$mini-laptop-device}{
            left: 0;
        }
        @media #{$desktop-device}{
           left: 0;
        }
        @media #{$tablet-device}{
           left: 0;
        }
        @media #{$large-mobile}{
           left: 0;
        }
        &:hover{
            color: $secondary_color;
        }
        &.next_arrow{
            right: -35px;
            left: auto;
            @media #{$mini-laptop-device}{
                right: 0;
            }
            @media #{$desktop-device}{
               right: 0;
            }
            @media #{$tablet-device}{
               right: 0;
            }
            @media #{$large-mobile}{
               right: 0;
            }
        }
    }

}

/*custom product area css here*/
.custom_product_area{
    margin-bottom: 17px;
    @media #{$desktop-device}{
        margin-bottom: 24px;
    }
    @media #{$tablet-device}{
        margin-bottom: 3px;
    }
    @media #{$large-mobile}{
       margin-bottom: 2px;
    }
}
.small_product_container{
    & .single_product {
        margin-bottom: 30px;
        overflow: hidden;
        padding: 0;
        border: 0;
        & .product_content{
            width: 73%;
            padding-left: 18px;
            margin-top: 0;
            float: left;
            text-align: left;
            @media #{$tablet-device}{
                width: 77%;
            }
            & h3{
                margin-bottom: 12px;
            }
        }
        & .product_thumb{
            width: 27%;
            float: left;
            @media #{$tablet-device}{
                width: 23%;
            }
        }
    }
    & .price_box{
        margin-bottom: 10px;
    }
    & button{
        position: absolute;
        top: -70px;
        right: 24px;
        border: 0;
        background: inherit;
        font-size: 23px;
        color: #b0b0b0;
        @media #{$large-mobile}{
           top: -56px;
        }
        &:hover{
            color: $secondary_color;
        }
        &.next_arrow{
            right: 0;
        }
    }
}

.small_product_area{
    @media #{$tablet-device}{
        margin-bottom: 21px;
    }
    @media #{$large-mobile}{
        margin-bottom: 11px;
    }
}
.product_ratings{
    margin-bottom: 5px;
    & ul{
        display: flex;
        & li{
            line-height: 18px;
            margin-right: 3px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                color: $secondary_color;
                font-size: 21px;
            }
        }
    }
}



.tab_btn_container{
    margin-bottom: 30px;
    padding-bottom: 14px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    & .section_title{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
        & h2{
            @media #{$large-mobile}{
               margin-bottom: 13px;
            }
        }
    }
    @media #{$large-mobile}{
       flex-direction: column;
    }
}

.product_tab_btn{
    & ul{
        & li{
            margin-right: 18px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                line-height: 25px;
                &:hover{
                    color: $secondary_color;
                }
                &.active{
                    color: $secondary_color;
                }
                @media #{$large-mobile}{
                   line-height: 30px;
                }
            }
        }
    }
}


/*home three css here*/
.product_tab_btn3{
    border-bottom: 1px solid $grey_color;
    margin-bottom: 20px;
    @media #{$small-mobile}{
        padding-bottom: 5px;
    }
    & ul{
        & li{
            position: relative;
            margin: 0 25px 10px 0;
            padding-right: 25px;
            @media #{$large-mobile}{
                margin: 0 19px 10px 0;
                padding-right: 0;
                &::before{
                    display: none;
                }
            }
            &::before{
                position: absolute;
                content: "";
                background: #ebebeb;
                width: 1px ;
                height: 21px;
                right: 0;
                top: 50%;
                transform: translatey(-50%);
            }
            &:last-child{
                margin-right: 0;
                padding-right: 0;
                &::before{
                    display: none;
                }
            }
            & a{
                font-size: 20px;
                line-height: 30px;
                font-weight: 500;
                text-transform: capitalize;
                color: #555;
                @media #{$large-mobile}{
                    font-size: 16px;
                    line-height: 25px;
                }
                &:hover{
                    color: $fonts_color;
                }
                &.active{
                    color: $fonts_color;
                }
            }
        }
    }
}


.product_deals_three{
    background: #f8f8f8;
    padding: 70px 0;
    @media #{$large-mobile}{
        padding: 56px 0 60px;
        margin-bottom: 56px;
    }
}


.deals_title_three{
    @media #{$tablet-device}{
        margin-bottom: 25px;
    }
    @media #{$large-mobile}{
        text-align: center;
        margin-bottom: 24px;
    }
    & h2{
        font-size: 20px;
        line-height: 24px;
        text-transform: capitalize;
        font-weight: 500;
        margin-bottom: 20px;
        letter-spacing: -1px;
        @media #{$desktop-device}{
           font-size: 15px;
        }
        @media #{$tablet-device}{
            margin-bottom: 10px;
        }
        @media #{$large-mobile}{
            font-size: 19px;
            margin-bottom: 10px;
        }
    }
    & p{
        line-height: 25px;
        letter-spacing: -0.5px;
    }
}

.product_deals_column4{
    & .col-lg-3{
        flex: 0 0 100%;
        width: 100%;
        padding: 0 12px;
    }
    & .owl-nav{
        & div{
            font-size: 15px;
            font-weight: 400;
            left: -19%;
            bottom: -10px;
            top: auto;
            opacity: inherit;
            visibility: inherit;
            background: #eee;
            border: 1px solid #ebebeb;
            padding: 5px 10px;
            min-width: 80px;
            border-radius: 4px;
            text-align: center;
            color: $fonts_color;
            @media #{$desktop-device}{
               min-width: 63px;
            }
            @media #{$tablet-device}{
                right: 98px;
                left: auto;
                top: -64px;
                bottom: auto;
                min-width: 70px;
            }
            @media #{$large-mobile}{
                display: none;
            }
            &:hover{
                background: $secondary_color;
                border-color: $secondary_color;
                color: $white;
            }
            &.owl-next{
               left: -10%;
                right: auto;
                @media #{$tablet-device}{
                    right: 17px;
                    left: auto;
                }
            }
        }
    }
}




/*home four css here*/
.home_section_four{
    & .section_title{
        & h2{
            @media #{$desktop-device}{
                font-size: 17px;
                line-height: 17px;
            }
        }
    }
}
.deals_product_four{
    margin-bottom: 43px;
    @media #{$large-mobile}{
        margin-bottom: 27px;
    }
    & .owl-nav{
        & div{
            right: 25px;
            left: auto;
            top: -58px;
            opacity: inherit;
            visibility: inherit;
            font-size: 26px;
            @media #{$large-mobile}{
                top: -43px;
            }
            &.owl-next{
                right: 0;
            }
        }
    }
}


.product_four_area{
    & button{
        right: 25px;
        left: auto;
        top: -56px;
        opacity: inherit;
        visibility: inherit;
        font-size: 26px;
        @media #{$large-mobile}{
            top: -44px;
        }
        &.next_arrow{
            right: 0;
        }
    }
}

.product_four_bottom{
    margin-bottom: 40px;
    @media #{$large-mobile}{
        margin-bottom: 34px;
    }
    & .owl-nav{
        & div{
            right: 25px;
            left: auto;
            top: -57px;
            opacity: inherit;
            visibility: inherit;
            font-size: 26px;
            @media #{$large-mobile}{
                top: -45px;
            }
            &.owl-next{
                right: 0;
            }
        }
    }
}



.small_product_four{
    margin-bottom: 20px;
    @media #{$large-mobile}{
        margin-bottom: 9px;
    }
}



