/* 21. shipping css here */
.shipping_area{
    @media #{$tablet-device}{
       margin-bottom: 43px;
    }
    @media #{$large-mobile}{
       margin-bottom: 28px;
    }
}

.single_shipping{
    display: flex;
    @media #{$tablet-device}{
        margin-bottom: 25px;
    }
    @media #{$large-mobile}{
        margin-bottom: 28px;
    }
   
}
.shipping_icone{
    margin-right: 20px;
    @media #{$desktop-device}{
        margin-right: 12px;
    }
}
.shipping_content{
    & h2{
        font-size: 14px;
        line-height: 20px;
        text-transform: capitalize;
        font-weight: 700;
        margin-bottom: 4px;
        
    }
    & p{
        font-size: 13px;
        line-height: 18px;
    }
}



/*home two css here*/
.shipping_two{
   margin-bottom: 48px; 
    @media #{$tablet-device}{
        margin-bottom: 20px;
    }
    @media #{$large-mobile}{
        margin-bottom: 20px;
    }
}


/*home four css here*/
.shipping_four{
    @media #{$tablet-device}{
        margin-bottom: 70px;
    }
    @media #{$large-mobile}{
        margin-bottom: 60px;
    }
}
.shipping_inner{
    border: 1px solid $grey_color;
    @media #{$tablet-device}{
        padding: 11px 0 15px;
    }
    @media #{$large-mobile}{
        padding: 11px 0 15px;
    }
    & .single_shipping {
        padding: 25px 25px 20px 25px;
        border-right: 1px solid $grey_color;
        @media #{$desktop-device}{
            padding: 22px 5px 19px 8px;
        }
        @media #{$tablet-device}{
           border-right: 0;
            margin-bottom: 0;
            padding: 18px 25px 13px 25px;
        }
        @media #{$large-mobile}{
           border-right: 0;
            margin-bottom: 0;
            padding: 18px 25px 13px 25px;
        }
        &.last_child{
            border: 0;
        }
    }
    & .shipping_icone{
        @media #{$desktop-device}{
            margin-right: 12px;
        }
    }
}




















