/* 02. slider area css here */
.slider_section{
    @media #{$large-mobile}{
       margin-bottom: 60px;
    }
}
.single_slider{
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover; 
        height: 500px;
        @media #{$desktop-device}{
           height: 420px;
        }
        @media #{$tablet-device}{
            height: 340px;
            background-position: 55%;
        }
        @media #{$large-mobile}{
           background-position: 10%;
            height: 300px;
        }

   
}

.slider_area{
    & .owl-dots{
            position: absolute;
            bottom: 20px;
            text-align: center;
            left: 50%;
            transform: translatex(-50%);
            display: block;
            @media #{$large-mobile}{
                 bottom: 10px;
            }
            & .owl-dot{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                display: inline-block;
                background: $grey_color;
                margin: 0 5px;
                @include transition(.3s);
                position: relative;
                &.active {
                    @include transition(.3s);
                    &::before{
                        position: absolute;
                        content:"";
                        background: $secondary_color;
                        width: 12px;
                        height: 12px;
                        left: -3px;
                        top: -3px;
                        border-radius: 50%;
                        
                    }
                    
                }
            }
        }
}


.slider_content{
    @media #{$large-mobile}{
        text-align: center;
    }
    & h1{
        font-size: 60px;
        line-height: 55px;
        font-weight: 300;
        margin-bottom: 17px;
        text-transform: uppercase;
        @media #{$desktop-device}{
            font-size: 40px;
            line-height: 40px;
        }
        @media #{$tablet-device}{
            font-size: 35px;
            line-height: 35px;
        }
        @media #{$large-mobile}{
            font-size: 26px;
            line-height: 26px;
            margin-bottom: 8px;
        }
    }
    & h2{
        font-size: 60px;
        line-height: 55px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0;
        @media #{$desktop-device}{
            font-size: 40px;
            line-height: 40px;
        }
        @media #{$tablet-device}{
            font-size: 35px;
            line-height: 40px;
        }
        @media #{$large-mobile}{
            font-size: 26px;
            line-height: 26px;
        }
    }
    & p{
        font-size: 18px;
        line-height: 25px;
        text-transform: capitalize;
        margin-top: 19px;
        margin-bottom: 0;
         @media #{$tablet-device}{
             font-size: 16px;
            margin-top: 12px;
        }
        @media #{$large-mobile}{
            font-size: 16px;
            margin-top: 15px;
        }
        & span{
            color: $secondary_color;
        }
    }
    & a{
        font-size: 13px;
        font-weight: 500;
        margin-top: 70px;
        color: $body-color;
        height: 50px;
        line-height: 50px;
        padding: 0 35px;
        display: inline-block;
        border-radius: 5px;
        &:hover{
            background:  #333;
        }
        @media #{$desktop-device}{
            margin-top: 26px;
            height: 45px;
            line-height: 45px;
            padding: 0 25px;
        }
        @media #{$tablet-device}{
            margin-top: 20px;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
        }
        @media #{$large-mobile}{
           margin-top: 17px;
            height: 35px;
            line-height: 35px;
            padding: 0 15px;
            font-size: 12px;
        }
    }
}




.active .slider_content h1,.active .slider_content h2,.active .slider_content p,.active .slider_content a {
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.active .slider_content h2{
     -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.active .slider_content p{
     -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.active .slider_content a{
     -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}



/*home two css here*/
.slider_section_two{
    @media #{$large-mobile}{
        margin-bottom: 55px;
    }
}



/*homr three css here*/
.slider_section_three{
    @media #{$large-mobile}{
        margin-bottom: 60px;
    }
}

/*home four css here*/
.slider_section_four{
    @media #{$tablet-device}{
       margin-top: 0;
    }
    @media #{$large-mobile}{
        margin-top: 0;
        margin-bottom: 57px;
    }
    & .single_slider{
        height: 410px;
        @media #{$tablet-device}{
            height: 340px;
        }
        @media #{$large-mobile}{
            height: 300px;
        }
    }
    & .slider_area{
        & .owl-dots{
            left: 6%;
            @media #{$large-mobile}{
                left: 50%;
            }
        }
    }
}

.slider_c_four{
    padding-left: 50px;
    @media #{$laptop-device}{
        padding-left: 40px;
    }
    @media #{$desktop-device}{
        padding-left: 30px;
    }
    @media #{$tablet-device}{
        padding-left: 30px;
    }
    @media #{$large-mobile}{
        padding-left: 0;
        width: 100%;
    }
    & h1{
        font-size: 36px;
        line-height:38px;
        text-transform: capitalize;
        font-weight: 400;
        @media #{$laptop-device}{
            font-size: 33px;
            line-height:33px;
        }
        @media #{$desktop-device}{
            font-size: 28px;
            line-height: 30px
        }
        @media #{$tablet-device}{
            font-size: 28px;
            line-height: 30px
        }
        @media #{$large-mobile}{
            font-size: 25px;
            line-height: 25px
        }
    }
    & h2{
        font-size: 36px;
        line-height:38px;
        text-transform: capitalize;
        font-weight: 400;
        @media #{$laptop-device}{
            font-size: 33px;
            line-height:35px;
        }
        @media #{$desktop-device}{
            font-size: 28px;
            line-height: 30px
        }
        @media #{$tablet-device}{
            font-size: 28px;
            line-height: 30px
        }
        @media #{$large-mobile}{
            font-size: 25px;
            line-height: 25px
        }
    }
}


/*home five css here*/
.slider_section_five{
    @media #{$tablet-device}{
        margin-top: 0;
    }
    @media #{$large-mobile}{
        margin-top: 0;
    }
    & .single_slider{
        height: 431px;
        @media #{$desktop-device}{
           height: 336px;
        }
        @media #{$tablet-device}{
            height: 336px;
        }
        @media #{$large-mobile}{
            height: 300px;
        }
    }
}






















