/*testimonial css here*/
.testimonial_are{
    @media #{$tablet-device}{
        margin-bottom: 18px;
    }
    @media #{$large-mobile}{
       margin-bottom: 21px;
    }
}
.testimonial_active{
    & .testimonial_thumb{
        & a{
            & img{
                width: inherit;
                display: inline-block;
                border-radius: 50%;
            }
        }
    }
    & .owl-dots{
        margin-top: 22px;
        text-align: center; 
        & .owl-dot{
            width: 10px;
            height: 10px;
            background: $grey_color;
            border-radius: 50%;
            display: inline-block;
            margin: 0 3px;
            @include transition(.3s);
            &.active{
                background: $secondary_color;
            }
            &:hover{
                background: $secondary_color;
            }
        }
    }
}

.testimonial_thumb{
    text-align: center;
    & a{
        border: 10px solid #edf4fc;
        display: inline-block;
        height: 90px;
        margin: 10px 0;
        position: relative;
        vertical-align: middle;
        width: 90px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        @media #{$desktop-device}{
          margin: 5px 0;
        }
        &::before{
            border: 10px solid #fafcfe;
            bottom: -20px;
            content: '';
            left: -20px;
            pointer-events: none;
            position: absolute;
            right: -20px;
            top: -20px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
        }
    }
}
.testimonial_content{
    text-align: center;
    & p{
        margin: 15px 0;
        @media #{$desktop-device}{
          margin: 5px 0;
            margin: 7px 0;
        }
        @media #{$tablet-device}{
            padding: 0 66px;
        }
    }
    & h3{
        font-size: 14px;
        line-height: 21px;
        text-transform: capitalize;
        margin-bottom: 0;
        @media #{$desktop-device}{
          font-size: 13px;
        }
        & a{
            color: $secondary_color;
            font-weight: 500;
            margin-right: 10px;
        }
    }
}






